:root {
	// base
	--font-family: "Montserrat", sans-serif;
	--second-family: "Open Sans", sans-serif;
	--content-width: 1300px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--white-color: #fff;
	--black-color: #000;
	--green-color: #299b9c;
	--blue-color: #254580;
	--border-color: #e153351a;
}
